<template name="afArrayField_sem" >

    <div class="ui vertical secondary menu">
        <div class="ui item">{{afFieldLabelText name=this.atts.name}}
            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                    <button type="button" class="ui positive label button basic compact autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><i class="plus icon"></i></button>
            {{/if}}
        </div>
        {{inputType}}
        {{#if afFieldIsInvalid name=this.atts.name}}
            <div class="ui red item autoform-array-field-error">
                {{{afFieldMessage name=this.atts.name}}}
            </div>
        {{/if}}
            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="ui item autoform-array-item">
                        <div class="ui action input">
                            {{> afQuickField name=this.name label=false}}
                            {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                                <button type="button" class="ui very compact basic negative button autoform-remove-item"><i class="minus icon"></i></button>
                            {{/if}}
                        </div>


                </div>
            {{/afEachArrayItem}}

    </div>
</template>