<template name="nav">
    <div class="ui grey secondary pointing menu">
        <a href="/" class="item">
            Overview
        </a>
        <a class="item">
            Series
        </a>
        <a href="/add-group" class="item">
            Add Group
        </a>
        <!-- TODO: dropdown template-->
        <a href="/add-series" class="item">
            Add Series
        </a>
        <div class="right menu">
            <div class="item" >
                {{> atNavButton}} <!-- TODO: custom template -->
            </div>
        </div>

    </div>

</template>
