<template name="nav">
    <div class="ui grey secondary pointing menu">
        <a href="/overview" class="item">
            Overview
        </a>
        <a href="/add-group" class="item">
            Add Group
        </a>
        <!-- TODO: dropdown template-->
        <a href="/add-series" class="item">
            Add Series
        </a>
        <a href="/add-chapter" class="item">
            Add Chapter
        </a>
        <div class="right menu">
            <div class="item" >
                {{> accountButton}} <!-- TODO: custom template -->
            </div>
        </div>

    </div>

</template>
